@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'sf-pro';
    src: 
        url('../font/SF-Pro-Display-Black.otf') format('opentype'),
        url('../font/SF-Pro-Display-Bold.otf') format('opentype'),
        url('../font/SF-Pro-Display-Heavy.otf') format('opentype'),
        url('../font/SF-Pro-Display-Light.otf') format('opentype'),
        url('../font/SF-Pro-Display-Medium.otf') format('opentype'),
        url('../font/SF-Pro-Display-Regular.otf') format('opentype'),
        url('../font/SF-Pro-Display-Semibold.otf') format('opentype'),
        url('../font/SF-Pro-Display-Thin.otf') format('opentype') ,
        url('../font/SF-Pro-Display-Ultralight.otf') format('opentype');
}

/* @font-face {
    font-family: 'sf-pro';
    src: url('../font/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
} */
  

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

::-webkit-scrollbar-track {
    display: none;
}

.fadeIn {
    animation: fadeIn 0.7s ease forwards;
}

.outerCard {
    @apply p-4 flex flex-col gap-6 rounded-xl border border-Neutral-10 bg-Neutral-0;
}

.innerCard {
    @apply p-3 flex flex-col gap-3 rounded-xl border border-Neutral-10 hover:bg-[#F6F6F6] fadeIn;
}

.rwCard {
    @apply p-4 flex flex-col gap-4 rounded-xl border border-Neutral-20 fadeIn;
}

.cardTitle {
    @apply text-xl md:text-2xl font-medium;
}

.title {
    @apply text-lg sm:text-xl font-medium;
}

.subtitle {
    @apply text-base sm:text-lg font-normal;
}

.buttonDark {
    @apply font-medium px-4 py-2 rounded-lg bg-Primary-Base text-Neutral-0 text-nowrap text-center w-full;
}

.buttonLight {
    @apply font-medium px-4 py-2 border border-solid rounded-md border-Neutral-20 text-nowrap text-center w-full;
}

label {
    @apply text-base sm:text-lg font-medium;
}

label.detail {
    @apply text-Neutral-40 font-normal text-sm lg:text-base;
}

input, select {
    @apply px-4 py-2 w-full rounded-lg border bg-Neutral-0 border-Neutral-20 disabled:bg-Neutral-20;
}

textarea {
    @apply px-4 py-2 w-full rounded-lg border border-Neutral-10 overflow-hidden h-48 resize-none;
}

th {
    @apply w-lvw pt-2 pb-4 pr-16 sm:text-lg font-normal text-Neutral-40 ;
}

td {
    @apply w-lvw py-6 pr-16 sm:text-lg font-medium ;
}

input[type="checkbox"] {
    @apply rounded-[4px] border border-Neutral-20 p-0;
}

